/target
/dist
/.idea
/.vscode
!/.vscode/settings.json
*.log
src-tauri/target/
src-tauri/icons/*
!src-tauri/icons/icon.png
/wasm/pkg
/wasm/target
/yawnoc-core/target
/yawnoc-core/Cargo.lock
/dist-wasm
/leptos-ui/target
/leptos-ui/dist
/leptos-ui/.trunk
